body {
    height: 100vh;
    width: 100%;
    background: url('../images/waves.jpg') no-repeat center center fixed;
    background-size: cover;

}

.my-navbar {
    width: 100%;
    border: 0;
    border-radius: 0;
    background: rgb(13, 35, 82, 0.95);
    font-family: 'Finger Paint', cursive;
}

.my-navbar .nav li a {
    color: #fff;

}

.navbar-light .navbar-brand {
    color: #fff;
    font-size: 1.70rem;
}

.navbar-toggler {
    cursor: pointer;
    border-color: #fbfb07;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 80px;
    margin-right: auto;
    margin-left: auto;
    display: table;
}

#iframe {
            height: 400px;
            width: 100%;
            position: relative;
            overflow: hidden;
            max-height: 400px;
        }
        
#footer {
            height: 75px;
            width: 100%;
            position: relative;
            overflow: hidden;
            border-radius: 10px;
            text-align: center;
            background: url('../images/pebbles.jpg') no-repeat center center fixed;
}